<footer class="bg-main-light py-5 mt-5 mb-3">
  <div class="container">
    <h2>Get The FreshCart App</h2>
    <p class="text-muted">We will Send you a Link</p>

    <div class="d-flex gap-3">
        <input type="email" placeholder="email..." class="form-control ">
        <button class="btn-main flex-shrink-0">Share APP Link</button>
    </div>
    <hr>
    <h3 class="h6 text-center text-muted pb-2 fw-bold"> Made with <i class="fas fa-heart text-danger"></i> by Amir Sakr</h3>
    <p class="h6 text-center text-muted">&copy; 2024 All Rights Reserved</p>
  </div>
</footer>