<section *ngIf="step1" class="w-50 mx-auto rounded shadow p-3 bg-main-light">
  <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword()">
    <div class="form-floating m-3">
      <input formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <button class="btn-main m-3">Forgot Password</button>
    <div *ngIf="forgotForm.get('email')?.errors && forgotForm.get('email')?.touched" class="alert alert-danger">
      <p *ngIf="forgotForm.get('email')?.getError('email') ">Email invalid</p>
    </div>
    <div *ngIf="userMessage" class="text-center">
      <hr>
      <p class="alert alert-danger w-75 mx-auto p-2 mb-0">{{userMessage}}</p>
    </div>
  </form>
</section>

<!-- verify reset code -->
<section *ngIf="step2" class="w-50 mx-auto rounded shadow p-3 bg-main-light">
  <form [formGroup]="resetCodeForm" (ngSubmit)="resetCode()">
    <div class="form-floating m-3">
      <input formControlName="resetCode" type="text" class="form-control" id="resetcode" placeholder="">
      <label for="resetcode">Reset code</label>
    </div>
    <button class="btn-main m-3">Reset Code</button>
    <div *ngIf="userMessage" class="text-center">
      <hr>
      <p class="alert alert-danger w-75 mx-auto p-2 mb-0">{{userMessage}}</p>
    </div>
  </form>
</section>

<!-- reset password -->
<section *ngIf="step3" class="w-50 mx-auto rounded shadow p-3 bg-main-light">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="newPassword()">
    <div class="form-floating m-3">
      <input formControlName="newPassword" type="password" class="form-control" id="resetpassword" placeholder="Password">
      <label for="resetpassword">Reset password</label>
    </div>
    <button class="btn-main m-3">Reset Password</button>
    <div *ngIf="resetPasswordForm.get('newPassword')?.errors && resetPasswordForm.get('newPassword')?.touched" class="alert alert-danger">
      <p *ngIf="resetPasswordForm.get('newPassword')?.getError('pattern') ">Password starts with uppercase then from 6 to 10</p>
    </div>
  </form>
</section>
