<section class="w-50 mx-auto bg-main-light p-4 rounded-3 my-3 shadow">
  <form [formGroup]="checkout" (ngSubmit)="payment()">

  <div>
      <label for="details">details:</label>
      <textarea id="details" formControlName="details" class="form-control"></textarea>
  </div>

  <div class="mt-3">
    <label for="phone">phone:</label>
    <input formControlName="phone" type="tel" class="form-control" id="phone">
  </div>

  <div class="mt-3">
    <label for="city">city:</label>
    <input id="city" formControlName="city" class="form-control" />
  </div>

  <button class="btn-main mt-3">checkout</button>

  </form>
</section>